body {
  background-color: #f6f6f6;
  margin: 0;
}

.contact-me {
  position:relative;
  bottom: 2rem;
}

.bottom-container {
  margin-top: 15rem;
  margin-bottom: 10rem;
  background-color: #f6f6f6;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.landing-title {
  display: flex;
  margin: 0 5px 5px 5px;
  padding-top: 0;
  color: black;
  font-size: 0.625rem;
  font-family: 'Montserrat', sans-serif;
}

.landing-container {
  position:absolute;
  top: .8rem;
  left: .8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-color: black;
  border: solid 5px;
  border-radius: .5rem;
}

.middle-container {
  margin-top: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #f6f6f6;
}

.owner-content {
  text-align: center;
  margin-left: 200px;
}

.owner-name {
  font-size: 60px;
  font-family: 'Waterfall', cursive;
}

.owner {
  margin-right: 60px;
}

.owner-photo {
  padding-left: 1rem;
  width: 90%;
}

.business-name {
  display: flex;
  text-align: center;
  color: black;
  margin: 0 0 0 5px;
  padding: 0;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

.landing-img {
  /* margin-left: 60px; */
  width: 100%;
}


.right-vertical {
  display: inline-block;
  position:absolute;
  top:0%;
  right: 5%;
  border-left: solid 0.313rem;
  height: 18.75rem;
}

.vibes {
  position: relative;
  top: 105%;
  right: 60%;
  padding: 0;
  margin: 0;
  font-size: 1.875rem;
  writing-mode: vertical-lr;
  text-orientation:sideways;
}

.trend {
  margin:0 5px 0 0;
  padding: 0;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
}

.title {
  display:inline-block;
  margin-right: 5px;
}

.top-divide {
  position: relative;
  bottom: 300px;
  border: solid 5px;
  border-color: white;
}

.social-supported {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.social-media {
  display: flex;
  justify-content:space-evenly;
}

.facebook {
  width:6rem;
}

.instagram {
  width:6rem;
}

.tiktok {
  width:6rem;
}